.center_audio_box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center_audio_box .listen_for_audio {
    --audio-button-diameter: 7rem;
    height: var(--audio-button-diameter);
    width: var(--audio-button-diameter);
    border-radius: 50%;
    border: none;
    box-shadow: 0 .25rem 1rem var(--shadow-color);
    cursor: pointer;
    transition: box-shadow .25s, margin-top .25s, margin-bottom .25s, background-color .1s;
    margin-bottom: 1rem;
    position: relative;
}
.center_audio_box .listen_for_audio svg {
    fill: var(--white-color);
    height: 3rem;
    width: auto;
}
.center_audio_box .listen_for_audio:hover {
    box-shadow: 0 .5rem 2rem var(--shadow-color);
    margin-top: -.25rem;
    margin-bottom: 1.25rem;
}
.center_audio_box .listen_for_audio:hover::before {
    margin-top: .25rem;
}
.center_audio_box .listen_for_audio:active::before {
    margin-top: 0;
}
.center_audio_box .listen_for_audio:active {
    box-shadow: 0 .25rem 1rem var(--shadow-color);
    margin-top: 0;
    margin-bottom: 1rem;
}

/* wave background behind button */
.center_audio_box .listen_for_audio::before {
    --audio-wave-height: .75rem;
    height: var(--audio-wave-height);
    content: "";
    width: 100vw;
    top: calc((var(--audio-button-diameter) - var(--audio-wave-height)) / 2);
    position: absolute;
    left: calc(-1 * (100vw - var(--audio-button-diameter)) / 2);
    z-index: -9999;
    transition: margin-top .25s, opacity .1s;
    opacity: 1;

    /* loading background and animation */
    background-image: repeating-linear-gradient(90deg,
        var(--dark-color) 0%, var(--dark-color) 10%,
        var(--white-color) 10%, var(--white-color) 12.5%,
        var(--dark-color) 12.5%, var(--dark-color) 22.5%,
        var(--white-color) 22.5%, var(--white-color) 25%,
        var(--dark-color) 25%, var(--dark-color) 35%,
        var(--white-color) 35%, var(--white-color) 37.5%,
        var(--dark-color) 37.5%, var(--dark-color) 47.5%,
        var(--white-color) 47.5%, var(--white-color) 50%
    );

    animation: moving-background 3s linear 0s infinite;
}
@keyframes moving-background {
    from {
        background-position: 0;
    }
    to {
        background-position: 100vw;
    }
}


/* listening on/off functionality */
.center_audio_box .listen_for_audio:not(.listening) svg.finish_icon {
    display: none;
}
.center_audio_box .listen_for_audio.listening svg.start_icon {
    display: none;
}
.center_audio_box .listen_for_audio:not(.listening) {
    background-color: var(--red-color);
}
.center_audio_box .listen_for_audio.listening {
    background-color: var(--green-color);
}
.center_audio_box .listen_for_audio:not(.listening)::before {
    opacity: 0;
}

/* finish icon blinking effect
@keyframes blinking {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.center_audio_box .listen_for_audio svg.finish_icon {
    animation: blinking 1s linear 0s infinite alternate;
}*/