/* root CSS variables */
:root {
    --regular-color: #78909c;
    --white-color: #ffffff;

    --dark-color: #37474f;
    --darker-color: #263238;
    --subdark-color: #546e7a;
    --somewhat-subdark-color: #455a64;

    --light-color: #eceff1;

    --medium-color: #b0bec5;
    --somewhat-submedium-color: #d5dbde;
    --submedium-color: #dde3e6;
    --supermedium-color: #90a4ae;

    --red-color: #d14233;
    --green-color: #27ae60;
    --blue-color: #28f;

    --shadow-color: rgba(55, 71, 79, 0.325);

    --topbar-height: 5rem;
}

/* default global styles */
* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    color: inherit;
    outline: none;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--subdark-color);
}

/* container styles */
.container {
    width: 100%;
    height: calc(100vh - 5rem);
    position: relative;
}
