.message_input_area {
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 1.25rem 1rem;
}

.message_input_area input::placeholder {
    color: var(--supermedium-color);
}

.message_input_area .left_component,
.message_input_area .right_component {
    border: 1px solid var(--somewhat-submedium-color);
    box-shadow: 0 1px 4px var(--light-shadow-color);
    height: 2.5rem;
    box-sizing: border-box;
    display: block;
    float: left;
    padding: 0.15rem 0.65rem;
    font-size: 1rem;
    line-height: 2.2rem;
}
.message_input_area .left_component {
    width: calc(100% - 4rem);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
}
.message_input_area .right_component {
    width: 4rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* listening functionality */
.message_input_area:not(.listening) .microphone_status,
.message_input_area:not(.listening) .send,
.message_input_area.listening .chatbox,
.message_input_area.listening .record {
    display: none;
}

/* icon buttons */
.message_input_area .icon_button {
    transition: background-size 0.2s, background-color 0.2s, border-color 0.2s;
    position: relative;
    cursor: pointer;
}

.message_input_area .icon_button img {
    width: 1.785rem;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s;
    backface-visibility: hidden;
}

.message_input_area .icon_button:hover img {
    transform: translate(-50%, -50%) scale(1.1);
}
.message_input_area .icon_button:active img {
    transform: translate(-50%, -50%) scale(1);
}

/* specific icon buttons */
.message_input_area .send {
    background-color: var(--green-color);
    border-color: var(--green-color);
}
.message_input_area .send:hover {
    background-color: var(--dark-green-color);
    border-color: var(--dark-green-color);
}

.message_input_area .record {
    background-color: var(--red-color);
    border-color: var(--red-color);
}
.message_input_area .record:hover {
    background-color: var(--dark-red-color);
    border-color: var(--dark-red-color);
}
.message_input_area .record img {
    width: 1.5rem;
}

/* chatbox input */
.message_input_area .chatbox {
    transition: border-color 0.2s;
}
.message_input_area.listening .chatbox:focus {
    border-color: var(--green-color);
}
