/* draggable topbar area */
.topbar {
    -webkit-app-region: drag;

    height: 2.5rem;
    box-sizing: border-box;
    padding: .5rem 1rem;
    width: 100%;
    background-color: var(--submedium-color);
    cursor: default;

    opacity: .6;
}